 {{> nav }}
  <div class="container" id="setting_login-container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3 id="setting_title">Setting</h3>
      </div>
      <div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h4 id="setting_sub">Manage your profile here</h4>
        </div>
      </div>
    </div>
    <div class="row" id="setting_row1">
      <div class="col-lg-4 col-md-4"></div>
      <div class="col-lg-4 col-md-4">
        <form>
          <div class="form-group">
            <label class="lables" for="userName">Username:</label>
            <input type="text" class="form-control" id="userName">
          </div>
          <div class="form-group">
            <label class="lables" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label class="lables" for="re-pwd">Re-enter Password:</label>
            <input type="password" class="form-control" id="re-pwd">
          </div>
          <div id="buttonHoler">
            <button id="setting-submit" type="submit" class="btn btn-lg btn-primary">Save</button>
          </div>

        </form>
      </div>
      <div class="col-lg-4 col-md-4"></div>
    </div>
  </div>
