<!DOCTYPE html>
<html lang="en">

<head>
  <title>Circle A Medical Product Manager</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
  <link rel="stylesheet" href="./assets/css/steps/normalize.css">
  <link rel="stylesheet" href="./assets/css/steps/main.css">
  <link rel="stylesheet" href="./assets/css/steps/jquery.steps.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>


<body>
  {{{ body }}}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
  <script src='./assets/js/tree.js'></script>
  <script src='./assets/js/main.js'></script>
  
</body>

</html>
