 {{#wizard 'head'}}
    <link rel="stylesheet" href="../assets/css/steps/normalize.css">
    <link rel="stylesheet" href="../assets/css/steps/main.css">
    <link rel="stylesheet" href="../assets/css/steps/jquery.steps.css">
	<link rel="stylesheet" href="../assets/css/style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js' defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js" defer></script>
    <script src='../assets/js/import.js' defer></script>
    <script src="../assets/js/main.js" defer></script>
    <script src="../assets/js/wizard.js" defer></script>
 {{/wizard}}

 {{> nav }}
 <div class="container">
    <div class="row p-3">
        <div class="col">
        </div>
        <div class="col-11">
            <h5>Spreadsheet Processor</h5>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Loaded</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Empty</a>
                </li>
            </ul>
            <div id="importer" class="pt-3">
                <h3 class='step-pill'>Attributes</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Database Field</th>
                                <th scope="col">Mapped Attributes</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
							{{#each attributes}}
                            <tr>
                                <th scope="row">{{attr}}</th>
                                <td contenteditable="true">{{attr}}</td>
                                <td contenteditable="true">{{fileName}}</td>
                                <td contenteditable="true">{{dateStr}}</td>
								
                            </tr>
							{{/each}}
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Manufacturers</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Manufacturer Name</th>
                                <th scope="col">Manufacturer 3 Digit Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3m</th>
                                <td>MMM</td>
                            </tr>
                            <tr>
                                <th scope="row">Fisher</th>
                                <td>FSH</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Categories</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Category Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th scope="row"><a href="#" id="category1" data-type="text" data-pk="1" data-url="/post" data-title="category-1">|Diagnostic Instruments|Cardiology|Electrodes/Pads</a></th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="#" id="category2" data-type="text" data-pk="1" data-url="/post" data-title="category-1"></a>|Diagnostic Instruments|Patient Monitoring/Vital Signs|Stethoscope Replacement Parts</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Units</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Unit Name</th>
                                <th scope="col">Abbreviation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Case</th>
                                <td>Cs</td>
                            </tr>
                            <tr>
                                <th scope="row">Box</th>
                                <td>Bx</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Units/Product</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">SKU</th>
                                <th scope="col">Unit </th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Import</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Case</th>
                                <td>Cs</td>
                            </tr>
                            <tr>
                                <th scope="row">Box</th>
                                <td>Bx</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>All Products</h3>
                <section>
                    <p>The next and previous buttons help you to navigate through your content.</p>
                </section>
            </div>
        </div>
        <div class='col'></div>
</div>
