 {{> nav }}
 <div class="container">
    <div class="row p-3">
        <div class="col">
        </div>
        <div class="col-11">
            <h5>Spreadsheet Processor</h5>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Loaded</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Empty</a>
                </li>
            </ul>
            <div id="importer" class="pt-3">
                <h3 class='step-pill'>Attributes</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Title/Alias</th>
                                <th scope="col">Alias to</th>
                                <th scope="col">Sheets</th>
                                <th scope="col">Import</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Availability</th>
                                <td>Availability</td>
                                <td>Sheet 1</td>
                                <td><span class="glyphicons glyphicons-disk-import"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Brand</td>
                                <td>BrandID</td>
                                <td><span class="glyphicons glyphicons-disk-import"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Manufacturers</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Manufacturer Name</th>
                                <th scope="col">Manufacturer 3 Digit Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">3m</th>
                                <td>MMM</td>
                            </tr>
                            <tr>
                                <th scope="row">Fisher</th>
                                <td>FSH</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Categories</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Category Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th scope="row"><a href="#" id="category1" data-type="text" data-pk="1" data-url="/post" data-title="category-1">|Diagnostic Instruments|Cardiology|Electrodes/Pads</a></th>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="#" id="category2" data-type="text" data-pk="1" data-url="/post" data-title="category-1"></a>|Diagnostic Instruments|Patient Monitoring/Vital Signs|Stethoscope Replacement Parts</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Units</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Unit Name</th>
                                <th scope="col">Abbreviation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Case</th>
                                <td>Cs</td>
                            </tr>
                            <tr>
                                <th scope="row">Box</th>
                                <td>Bx</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>Units/Product</h3>
                <section>
                    <table class="table table-striped">
                        <thead class="primary">
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">SKU</th>
                                <th scope="col">Unit </th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Import</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Case</th>
                                <td>Cs</td>
                            </tr>
                            <tr>
                                <th scope="row">Box</th>
                                <td>Bx</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <h3 class='step-pill'>All Products</h3>
                <section>
                    <p>The next and previous buttons help you to navigate through your content.</p>
                </section>
            </div>
        </div>
        <div class='col'></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<script src='./assets/js/import.js'></script>
<script src="./assets/js/main.js"></script>
<script src='./assets/js/tree.js'></script>

