<!DOCTYPE html>

<html>

<head>

    <title>Spreadsheets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
    <script src="assets/js/spreadsheets.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark pb-0 pt-0">
        <a class="navbar-brand pl-5 pr-5" href=" # ">
            <img src="./assets/img/CircleA.png " alt="Circle A Logo" height="45" width="45">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="   #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="# ">Home</a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="# ">Items/Inventory</a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="# ">Spreadsheet</a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="# ">Settings</a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link " href="# ">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="spreadsheets-container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 id="spread_title">Spreadsheets</h3>
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 id="spread_sub">Import/Export spreadsheets</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="spread_row1">
            <div class="col-5">
                <div class="text-center" id="file_uploader">
                    <form id="excelForm" role="form" class="form">
                        <div class="form-group">
                            <h5>Choose any Microsoft Excel (.xlsx) file to import:</h5>
                            <input id="excelFile" type="file" name="excelFile" class="form-control" accept=".xlsx">
                        </div>
                        <button type="submit" class="btn btn-primary" id="upload">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Imported</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exported</a>
                    </li>
                </ul>
            </div>
            <table class="table table-striped">
                <thead class="primary">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Records</th>
                        <th scope="col">Filename</th>
                        <th scope="col">Upload Time</th>
                        <th scope="col">Process</th>
                        <th scope="col">JSON</th>
                        <th scope="col">Download</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>Walmart.xlsx</td>
                        <td>12-11-17 16:30</td>
                        <td><i class="fas fa-server"></i></td>
                        <td><i class='fas fa-file'></i></td>
                        <td><i class='fas fa-download'></i></td>
                        <td><i class='fas fa-trash-alt'></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="outputModal" tabindex="-1" role="dialog" aria-labelledby="outputModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="outputModalTitle">Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p id="statusCode"></p>
                        </div>
                        <hr>
                        <div class="col-12">
                            <p id="message"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src='./assets/js/tree.js'></script>

</body>

</html>