{{>nav}}
<div class="container" id="spreadsheets-container">

  <div class="row">
    <div id="spread_title" class="col-lg-9 col-md-9 col-sm-9">
      <h3 id="items_title">Items/Inventory</h3>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4 id="inventory_sub">Process vendor items.</h4>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8" id="search_inventory">
      <form class="form-inline">

        <div class="form-group mx-sm-3">
          <label for="searchKeyTerm" class="search_lables">Search</label>
          <input type="input" class="form-control" id="searchKeyTerm" placeholder="Manufacturer # or SKU">
        </div>
        <div class="form-group mx-sm-3">
          <label for="search_by" class="search_lables">by:</label>
          <select class="form-control" id="search_by">
            <option></option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row" id="inventory_row1">
    <div class="col-lg-3 col-md-3" id="inventory_category_section">
      <h2 id="categories_tree">Categories</h2>
      <div id="tree_data">

        <ul>
          <li>Wound care
            <ul>
              <li>Bandaids
                <ul>
                  <li>Sports</li>
                  <li>General</li>
                </ul>
              </li>

            </ul>
          </li>
          <li>Skin care
            <ul>
              <li>Beach
                <ul>
                  <li>SPF</li>
                </ul>
              </li>
              <li>Kids</li>
            </ul>
          </li>
          <li>Medicine</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-8 col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Number</th>

            <th>SKU</th>
            <th>Manufacturer</th>
            <th>More Details</th>
            <th>Date added</th>
            <th>Erase</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>5043</td>
            <td>Walmart</td>
            <td>
              <i class="fa fa-file" aria-hidden="true" data-toggle="modal" data-target="#more_detail_modal"></i>
              </i>
            </td>
            <td>3-9-2017 16:30</td>
            <td>
              <i class="fa fa-trash" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>3432</td>
            <td>3M</td>
            <td>
              <i class="fa fa-file" aria-hidden="true" data-toggle="modal" data-target="#more_detail_modal"></i>
            </td>
            <td>5-9-2017 13:30</td>
            <td>
              <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#more_detail_modal"></i>
            </td>
          </tr>

        </tbody>
      </table>


    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="more_detail_modal" tabindex="-1" role="dialog" aria-labelledby="more_detail_modal_lable" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="more_detail_modal_lable">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item inventory_tab_list">
            <a id="one" class="nav-link active inventory_tab" data-toggle="tab" href="#home">Manufacturer Information</a>
          </li>
          <li class="nav-item inventory_tab_list">
            <a id="two" class="nav-link inventory_tab" data-toggle="tab" href="#menu1">Product Information</a>
          </li>
          <li class="nav-item inventory_tab_list">
            <a id="three" class="nav-link inventory_tab" data-toggle="tab" href="#menu2">Units</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active">
            <br>
            <form>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label class="lables" for="manufacturer_name">Manufacturer Name</label>
                    <input type="text" class="form-control" id="manufacturer_name">
                  </div>
                  <div class="form-group">
                    <label class="lables" for="category_path_name">Category Path Name</label>
                    <input type="text" class="form-control" id="category_path_name">
                  </div>
                  <div class="form-group" id="inventory_brows">
                    <input type="file" name="img[]" class="file">
                    <div class="input-group col-xs-12">
                      <span class="input-group-addon">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                      </span>
                      <input type="text" class="form-control input-lg" disabled placeholder="Browse File">

                      <span class="input-group-btn">
                        <button class="browse btn btn-default input-lg" type="button">
                          <i class="fa fa-search" aria-hidden="true"></i> Browse
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label class="lables" for="manufacturer_number">Manufacturer Number</label>
                    <input type="text" class="form-control" id="manufacturer_number">
                  </div>
                  <div class="form-group">
                    <label class="lables" for="item_image_url">Item Image URL</label>
                    <input type="text" class="form-control" id="item_image_url">
                  </div>
                  <div class="form-group">
                    <label class="lables" for="brand_name">Brand Name</label>
                    <input type="text" class="form-control" id="brand_name">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div id="menu1" class="container tab-pane fade">
            <br>
            <h3>Product Information</h3>

          </div>
          <div id="menu2" class="container tab-pane fade">
            <br>
            <h3>Units</h3>

          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<script src='./assets/js/categories_tree.js'></script>
<script src='./assets/js/tree_render.js'></script>
<script type="text/javascript">
